@import 'tailwindcss';

/*
Base Styles
* -------------- */
html {
  font-size: 62.5%; /* 16px * 62.5% = 10px */
  font-family: 'Noto Sans JP', sans-serif;
  color: #333333;
  line-height: 1.75;
}

@media (max-width: 768px) {
}

@theme {
  --breakpoint-pc: 1024px;
  /* Text */
  --color-text-link: #2677f0;

  /* Color */
  --color-gold-navigation: #bf842b;

  /* font */
  --font-NotoSansJP: 'Noto Sans JP', sans-serif;
  --font-Roboto: 'Roboto', sans-serif;
}

@layer utilities {
  .counter-reset {
    counter-reset: step;
  }

  .counter-increment {
    counter-increment: step;
  }

  .counter-before::before {
    content: counter(step);
  }

  .fade-init {
    opacity: 0;
    transform: translateY(40px);
    transition:
      opacity 0.8s ease,
      transform 0.8s ease;
  }

  .fade-in {
    opacity: 1;
    transform: translateY(0);
  }
}
